<!doctype html>
<html lang='en'>
    <head>
        <title><%= yield_content :title %> | SnippetBox(rb)</title>

        <meta charset='utf-8'>

        <link rel="stylesheet" href="/static/css/main.css">
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>

    <body>

        <header>
            <h1><a href='/'>Snippetbox (RUBY)</a></h1>
        </header>

        <%= erb :'partials/nav' %>


        <main>
          <%= yield %>
        </main>


        <footer>Powered by <a href='https://sinatrarb.com/'>Ruby</a></footer>

        <script src='/static/js/main.js' type='text/javascript'></script>

    </body>
</html>
